body {
    font-family: 'Acme', sans-serif;
    background-color: black;
    color: aliceblue;
}

.show-button {
    padding: 6px;
    margin: 10px;
}

#add-show {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s;
}

h1 {
    margin-top: 50px;
}